*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    text-transform:capitalize;
}


.navbar-nav a{
    font-size: 23px;
    margin: 3px 15px;
}
.navbar-nav .active{
    border-bottom: 1px solid yellow;
}

.navbar-brand{

font-size: 24px;
}
.cls-btn{
    color: rgb(250, 250, 250);
    font-weight: bold;
    font-size: 23px;
}

/* home page css is here */


.home-carousel{
    height: 60vh;

}

.mobile-section {
    display: none;
}

.main-head{
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: rgb(30, 121, 240);
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 2px dotted black;


}
.heading1{
    font-family: 'Satisfy', cursive;

}
.gallery h5 {
    font-size:24px;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(140, 28, 245);
    font-weight: 500; 
}

.card , .card-text p{
    font-size: 21px;
}

.home-head{
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(30, 121, 240);
    font-weight: bold;
    border-bottom: 2px dotted black;
}
.home-head2{
    font-size: 40px;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(140, 28, 245);
    font-weight: 400;
}

.top-collections ,.recentely p{
    font-size: 18px;
}

.recentely h3{
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(140, 28, 245);
    font-weight: 400;
    font-size: 26px;
}
@media screen and (max-width:576px) {
    .home-carousel{
        display: none;
    }

  .mobile-section {
        display: block;
        width: 97vw;
        height: 40vh;
    } 

   
}

/* home page css is here */




/* gallery page css is here  */


.gallery-main{
    width: 100%;
    height: 65vh;
    background-image: url('/img/dog3.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.give-margin{
    margin-top: 140px;
  
}
.heading1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight:bold;
    line-height: 85px;

}
/* .heading2{
    font-size: 25px;
} */

.btn-1{
    padding: 15px 25px;
    font-size: 17px;
    margin: 5px 7px;
}
.btn-2{
    padding: 15px 25px;
    font-size: 17px;
    margin: 5px 7px;
}



@media screen and (max-width:576px) {
    

.gallery-main{
    width: 100%;
    height: 70vh;
    background-image: url('/img/dog3.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.give-margin{
    margin-top: 40px;
  
}
.heading1{
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Satisfy', cursive;
    font-weight:bold;
    /* line-height: 5px; */

}
/* .heading2{
    font-size: 25px;
} */

.btn-1{
    padding: 12px 20px;
    font-size: 16px;
    margin: 5px 7px;
}
.btn-2{
    padding: 12px 20px;
    font-size: 16px;
    margin: 5px 7px;
}

.collections{
    font-size: 55px;
    font-family: cursive;
}

}


/* gallery page css is here  */


/* about page css is here  */



 .about-logo{
    font-family: 'Charm', cursive;
} 

.about-start{
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(30, 121, 240);
    font-weight: bold;
    border-bottom: 2px dotted black;
}

.team-members h5{
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(140, 28, 245);
    font-weight: 400;
    font-size: 26px;
}

.about-main p {
    font-size: 19px;
}

/* about page css is here  */


/* contact page css is here  */


.contact-head{
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(30, 121, 240);
    font-weight: bold;
    border-bottom: 2px dotted black; 
}

.contact-main h3{
    font-family: 'Satisfy', cursive;
    text-transform: capitalize;
    color: rgb(140, 28, 245);
    font-weight: 400;
    font-size: 26px;


}

.contact-main p {
    font-size: 19px;
}

/* contact page css is here  */